

  .spinImg{
    margin: 20px;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 7;
    -webkit-animation-timing-function: linear;
  
    

  }


  

  @-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}





#image {
  animation: rotation 1s linear 0s infinite;
  animation-play-state: paused;
}

@keyframes rotation {
  to {
    transform: rotate(360deg)
  }
}


.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}